<% if flash.count > 0 %>
  <div class="row">
    <div class="col-md-12">
      <% flash.each do |key, value| %>
        <% key == 'alert' ? key = 'warning' : '' %>
        <div class="alert alert-<%= "#{key}" %>" role='alert'>
          <%= value.try(:html_safe) %>
          <a href="#" class="close" data-dismiss="alert"> &#215;</a>
        </div>
      <% end %>
    </div>
  </div>
<% end %>