

<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
  <div class="container-fluid d-flex flex-column p-0">
    <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
      <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
      <div class="sidebar-brand-text mx-3"><span>NUBE BANK</span></div>
    </a>
    <hr class="sidebar-divider my-0">
    <ul class="nav navbar-nav text-light" id="accordionSidebar">
      <li class="nav-item" role="presentation"><a class="nav-link active" href="<%= accounts_path %>"><i class="fas fa-tachometer-alt"></i><span>Contas</span></a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="<%= edit_client_registration_path %>"><i class="fas fa-user"></i><span>Perfil</span></a></li>
      <li class="nav-item" role="presentation">
        <%= link_to destroy_client_session_path,method: :delete, class:'nav-link' do %>
        <i class="fas fa-sign-out-alt"></i>
        <span>Sair</span>
        <% end %>
      </li>
    </ul>

  </div>
</nav>
